[
  {
    "test": ".*.ts$",
    "exclude": [".*.bookmarklet.ts$"],
    "jsc": {
      "parser": {
        "syntax": "typescript"
      },
      "transform": {
        "optimizer": {
          "simplify": true
        }
      },
      "minify": {
        "compress": true,
        "mangle": true
      }
    },
    "minify": true,
    "module": {
      "type": "umd"
    },
    "env": {
      "mode": "entry",
      "coreJs": 3
    }
  },
  {
    "test": [".*.bookmarklet.ts$"],
    "jsc": {
      "parser": {
        "syntax": "typescript"
      },
      "transform": {
        "optimizer": {
          "simplify": true
        }
      },
      "minify": {
        "compress": true,
        "mangle": true
      }
    },
    "minify": true,
    "env": {
      "mode": "entry",
      "coreJs": 3
    }
  }
]
